#################################################
# Networking
#################################################

vpc_id = "vpc-0123456789abcdef0"

public_subnet_ids = [
  "subnet-0123456789abcdef0",
  "subnet-abcdef01234567890"
]

#################################################
# Compute
#################################################

security_group_ids = [
  "sg-0123456789abcdef0"
]

target_ids = [
  "i-0123456789abcdef0"
]

#################################################
# HTTPS
#################################################

certificate_arn = "arn:aws:acm:ap-south-1:123456789012:certificate/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

#################################################
# Project
#################################################

project = "terraform-aws-platform"

environment = "dev"

#################################################
# Tags
#################################################

tags = {
  ManagedBy = "Terraform"
  Owner     = "Platform Team"
}
