#################################################
# S3
#################################################

bucket_name = "terraform-aws-platform-demo"

#################################################
# Project
#################################################

project = "terraform-aws-platform"

environment = "dev"

#################################################
# Tags
#################################################

tags = {
  ManagedBy = "Terraform"
  Owner     = "Platform Team"
}
